@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700&family=Roboto:wght@100;400;700;900&display=swap');


* {
    /* box-shadow: 0 0 0 3px red ; */
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'biryani';
    /* border: 1rem #cd0c0c; */
}

img {
    transition: transform 1s;
    width: 100%;
}

/* img:hover{transform: scale(1.1);
     
    } */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2 {
    padding: 2rem 2rem;
    color: #000703;

}

h3,
p {
    font-size: 16px;
}

/******* NAVBAR */
.logoimg {

    width: auto;
    height: 55px;
    top: 0;
    left: 0;
    margin: 0 0 0 1rem;
}

.logo {

    display: flex;
    align-items: center;
}

.profil {
    padding-left: 60px;
}

/* header {
    width: 100%;
    position: fixed;
    height: 62px;
    background-color: #ffffff
} */
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 30px;
    height: 62px;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(173, 171, 171, 0.329);
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: #bff8d4e2;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.navlink {

    align-items: center;
    margin-right: 20px;

}

/*  le burgur il est ici  */
/* .burgur {
    width: 2.2rem;
    display: none;

} */
.menu ul {
    display:flex;
}
@media screen and (min-width:801px) {
    

.burgur {
    display: none;
}
}

/* ////// Résponsive phone /////// */
@media screen and (max-width: 800px) {
    .burgur {
        position: absolute;
        top: 15px;
       width: 1.5rem;
       display: block;
       right: 16px;
       display: block;
    }

    .menu ul {
        display: flex;
        gap: 50px;
        flex-direction: column;

    }

    .navlink {
        position: absolute;
        top: 0;
        left: 0;
        /* margin-left: -100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navlink.menu-mobile {
        margin-top: 4rem;
        background-color: #bff8d4;
        width: 105vw;
        height: 100vh;
        border-radius: 0 50px 50px 0;

    }
}