.firstimg{
  
    background-repeat: no-repeat ;
    background-size: cover;
   height: 90vh;
   width: 100%;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



@media screen and (max-width: 280px) {
    .firstimg {
        background: url(madlives2.png);
    }
}